<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.shadow.user.user_mapper">

	<!-- 유저 목록 조회 MyBatis -->
	<select id="selectUserListSQL"
		resultType="common.collection.ABox"
		parameterType="common.collection.ABox">
	<![CDATA[
		SELECT 
			* 
		FROM 
			member
		WHERE 
			id = #{id} AND
			password = #{password}
	]]>
	</select>

	<select id="selectLocationLabelCountSQL"
		resultType="common.collection.ABox"
		parameterType="common.collection.ABox">
	<![CDATA[
		SELECT 
			COUNT(*)  
		FROM 
			locate

	]]>
	</select>

	<insert id="insertLocationSQL"
		parameterType="common.collection.ABox">
		<![CDATA[
			INSERT INTO locate
				( name,
				category,
				city,
				area,
				road,
				info,	
				lng,
				lat )
			VALUES ( 
				#{BIZEST_NM},
				#{category},
				#{SIGUN_NM},
				#{REFINE_ROADNM_ADDR},
				#{REFINE_LOTNO_ADDR},
				#{BIZCOND_NM},
				#{REFINE_WGS84_LOGT},
				#{REFINE_WGS84_LAT} )
		]]>
	</insert>

	<insert id="insertReviewSQL"
		parameterType="common.collection.ABox">
		<![CDATA[
			INSERT INTO review_maps
				(
				locate_seq
				review,
				star,
				category )
			VALUES ( 
				#{locateSeq},
				#{review},
				#{star},
				#{category} )
		]]>
	</insert>

	<insert id="insertLocationLabelSQL"
		parameterType="common.collection.ABox">
		<![CDATA[
			INSERT INTO locate_label
				( locate_seq,
				door_tag,
				tag1,
				tag2,
				tag3,
				tag4 )
			VALUES ( 
				#{locateSeq},
				#{doorTag},
				#{tag1},
				#{tag2},
				#{tag3},
				#{tag4} )
		]]>
	</insert>
	<select id="selectLocateList"
		resultType="common.collection.ABox"
		parameterType="common.collection.ABox">
		<![CDATA[
		SELECT 
			a.*, b.* 
		FROM 
			locate a, locate_label b
		WHERE 
			a.locate_id = b.label_seq AND
			category != "CS01" AND lng < #{maxLng} AND lat < #{maxLat} AND lng > #{minLng} AND lat > #{minLat}
		]]>
	</select>

	<!-- 유저 목록 조회 MyBatis -->
	<select id="selectLocateDataSQL"
		resultType="common.collection.ABox"
		parameterType="common.collection.ABox">
	<![CDATA[
		SELECT 
			AVG(a.star) AS star, b.*
		FROM 
			review_maps a, locate_label b
		WHERE 
	]]>
		a.locate_seq IN
		<foreach collection="locateIdList" item="location" index="idx"
			open='(' close=')' separator=','>
			#{location.location}
		</foreach>
		AND a.locate_seq = b.locate_seq
		group BY a.star;

	</select>

	<select id="selectLocateList2"
		resultType="common.collection.ABox"
		parameterType="common.collection.ABox">
	<![CDATA[
		SELECT 
			a.locate_id, b.label_seq, a.name, a.category, a.road, a.lng, a.lat, b.tag1, b.tag2, b.tag3, b.tag4, b.door_tag, b.rate
		FROM 
			locate a, locate_label b
		WHERE
			a.locate_id IN
	]]>
		<foreach collection="locateIdList" item="location" index="idx"
			open='(' close=')' separator=','>
			#{location.location}
		</foreach>
		AND a.locate_id = b.label_seq
	</select>

	<select id="selectCategoryListSQL"
		resultType="common.collection.ABox"
		parameterType="common.collection.ABox">
	<![CDATA[

		SELECT 
			* 
		FROM 
			locate 
		WHERE 
			category = #{category}
		ORDER BY 
			locate_id 
		LIMIT 
			0,10;
	]]>
	</select>
	
	<select id="selectCategoryUserListSQL"
		resultType="common.collection.ABox"
		parameterType="common.collection.ABox">
	<![CDATA[
		SELECT 
			a.locate_id, a.name, a.category, a.city, a.area, a.road, a.info, a.lng, a.lat, b.star, b.choose
		FROM 
			locate a, member_path b
		WHERE 
			b.member_id = #{memberId} AND
			a.locate_id = b.locate_id
		ORDER BY 
			locate_id 
		LIMIT 
			0,10;
	]]>
	</select>
	
	<update id="updateRate" parameterType="common.collection.ABox">
	<![CDATA[
		UPDATE locate_label
		SET rate = 1.5+ROUND(RAND()*3.5,1)
		WHERE label_seq = #{idx};
	]]>
	</update>

</mapper>